<body>
  <h1>Escolha seu Banco</h1>
  <label for="bankCode">Filtre pelo código do banco: </label>
  <input
    placeholder="ex: 123"
    id="bankCode"
    type="number"
    min="0"
    #inputCodeField
    required
  />
  <button
    (click)="search(inputCodeField.value)"
    type="submit"
  >
    Filtrar
  </button>


  <h3>Clique no card do seu banco:</h3>

  <ul *ngIf="rawFetchedData">
    <div *ngFor="let bank of filteredData">
      <div
        *ngIf="bank?.code"
        class="card"
      >
      <a routerLink="/cadastrar" class="link" (click)="setBankLocalStorage(bank)">
        <p>Código: {{bank?.code}}</p>
        <p>Banco: {{bank?.fullName}}</p>
      </a>
      </div>
    </div>
  </ul>
</body>
