<body>
  <h1>Inicie um novo cadastro:</h1>
  <button class="button" (click)="goToBankList()">
    Iniciar cadastro
  </button>


  <h1>Conta(s) cadastrada(s):</h1>

  <p *ngIf="!registeredList">
    Nenhuma conta(s) cadastrada(s)
  </p>


  <ul *ngIf="registeredListParsed">
    <div *ngFor="let item of registeredListParsed">
      <div
        class="card"
      >
        <p>Código: {{item?.code}}</p>
        <p>Agência: {{item?.bankAgency}}</p>
        <p>Banco: Conta: {{item?.account}}</p>
      </div>
    </div>
  </ul>
</body>
