<body>
  <h1>Inicie um novo cadastro:</h1>
  <button><a routerLink="/lista" class="link">Iniciar cadastro</a></button>


  <h1>Conta(s) cadastrada(s):</h1>

  <div *ngIf="!registeredList" class="card">
    Não existe conta(s) cadastrada(s)
  </div>


  <ul *ngIf="registeredListParsed">
    <div *ngFor="let item of registeredListParsed">
      <div
        class="card"
      >
        <p>Código: {{item?.code}}</p>
        <p>Agência: {{item?.bankAgency}}</p>
        <p>Banco: Conta: {{item?.account}}</p>
      </div>
    </div>
  </ul>
</body>
